header {
  font-family: "Raleway", sans; }

footer {
  font-size: 0.8em; }

#board {
  height: 30em;
  border: solid black 3px;
  border-radius: 1em;
  background-color: #57c072; }

.note {
  font-family: "Coming Soon", cursive;
  font-size: 0.85em;
  border: solid #93a500 1px;
  color: #876a6a;
  border-radius: 0.35em;
  height: 1.5in;
  width: 2.4in;
  position: absolute;
  background-color: #f5ffa5;
  padding: 1em;
  box-shadow: 0.05em 0.05em 0.1em black; }
  .note.raised {
    box-shadow: 0.2em 0.2em 0.5em black; }
