$boxcolor: rgb(245, 255, 165);
$boxborder: darken($boxcolor, 50%);
$boxtext: rgb(135, 106, 106);

$boardcolor: rgb(87, 192, 114);

#board {
    height: 30em;
    border: solid black 3px;
    border-radius: 1em;
    background-color: $boardcolor;
}

.box {
    font-family: "Coming Soon", cursive;
    border: solid $boxborder 2px;
    color: $boxtext;
    border-radius: 0.2em;
    height: 1in;
    width: 2in;
    position: absolute;
    background-color: $boxcolor;
    padding: 1em;
}
