header {
  font-family: "Lato", sans; }

#board {
  height: 30em;
  border: solid black 3px;
  border-radius: 1em;
  background-color: #57c072; }

.note {
  font-family: "Rock Salt", cursive;
  border: solid #93a500 2px;
  color: #876a6a;
  border-radius: 0.35em;
  height: 1.5in;
  width: 2.4in;
  position: absolute;
  background-color: #f5ffa5;
  padding: 1em; }
  .note.raised {
    box-shadow: 10px 5px 5px black; }
