$notecolor: rgb(245, 255, 165);
$noteborder: darken($notecolor, 50%);
$notetext: rgb(135, 106, 106);
$shadow: darken($noteborder, 100%);

$boardcolor: rgb(87, 192, 114);

$note-height: 1.5in;
$note-aspect-ratio: 1.6;

header {
    font-family: "Lato", sans;
}

#board {
    height: 30em;
    border: solid black 3px;
    border-radius: 1em;
    background-color: $boardcolor;
}

.note {
    font-family: "Rock Salt", cursive;

    border: solid $noteborder 1px;
    color: $notetext;
    border-radius: 0.35em;
    height: $note-height;
    width: $note-height * $note-aspect-ratio;
    position: absolute;
    background-color: $notecolor;
    padding: 1em;
    box-shadow: 0.05em 0.05em 0.1em $shadow;

    &.raised {
        box-shadow: 0.2em 0.2em 0.5em $shadow;
    }
}

